@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
}

body {
  color: #1e293b;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
}

button,
input,
select {
  font: inherit;
}
